@model Lagarsystem.Models.StockItem

<table class="table borderless">
    <tbody>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.Name)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.Price)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.Shelf)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Shelf)
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.Description)</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
</table>