@model IEnumerable<Lagarsystem.Models.StockItem>



<tbody id="itemslist">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shelf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemID }, new { @class = "btn btn-default" })
                <a class="btn btn-default detailsLink" id=item.itemid data-content='@Html.Partial("DetailsPopover", item)' tabindex="0" data-html="true" data-toggle="popover" data-trigger="focus" data-placement="bottom" style="cursor:pointer">Details</a>
                @Html.ActionLink("Remove", "Remove", new { id = item.ItemID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</tbody>

